[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
matplotlib = "*"
pillow = "*"
redis = "*"
tensorflow = "==2.6.4"

[dev-packages]

[requires]
python_version = "3.7"
